html,
body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    background-image: url(../images/mesh.png);
    color: #D1D3D4;
    font-weight: 400;
}

nav {
    background-color: #282828;
}

.nav-item.nav-link {
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    color: white;
    margin-left: 20px;
}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.gradient {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-color: #9eadf1;
    background-image: linear-gradient(90deg, #EAECC6, #2BC0E4);
    background-size: 100%;
    display: inline-block;
}

section#intro {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.gradient {
    font-size: 102px;
    font-weight: 400;
}

section#intro p {
    font-size: 24px;
    font-weight: 400;
}

.btn-bg {
    color: white;
    background-color: #405BFF;
    min-width: 150px;
    min-height: 43px;
    border: transparent;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.btn-bg:hover {
    cursor: pointer;
}

.btn-transparent:hover {
    text-decoration: underline;
}

.btn-transparent {
    background-color: transparent;

}

h1,
h2,
h3 {
    font-weight: 400;
}

input {
    background-color: black;
    border: transparent;
    padding: 7.5px 6px 7.5px 5px;
    border-bottom: 1px solid #405BFF;
    width: 500px;
    display: block;
    margin-top: 15px;
    color: white;
}

form {
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    min-width: 500px;
    margin: auto;
    text-align: center;
}

a {
    color: #7084ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #7084ff;
}

form a {
    margin-right: 15px;
}