<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">

    <!-- IMPORTED CSS -->
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/events.css" rel="stylesheet">

    <style>
        #header {
            width: 100%;
        }

        #header li {
            width: 33.33%;
        }

        #header li a {
            padding: 14px 16px;
        }
    </style>

    <title>Youth Spot</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">Youth Spot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-bg" href="events.html">Lookup Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="log-in.html">Log In →</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="search">
                <input id="search" type="search" placeholder="Search" aria-label="Search" name="searchQuery">
            </form>
        </div>
    </nav>
    <br><br>
    <section id="event-display">
        <div class="context">
            <div class="row event-description">
                <div class="col-lg-6 col-md-6">
                    <h1>Dog play day</h1>
                    <p>By <a href="">The Dogs Association at UCSD</a></p><br>
                    <img src="../static/images/sample 1.webp"><br><br>
                    <span>GEISEL LIBRARY, LA JOLLA</span><br>
                    <span class="date">18 April, 2024</span>&ensp;&nbsp;<span>8:00 AM</span><br><br>

                    <p>This is the description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
                    <a href="">Report Event →</a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div id="header">
                        <ul>
                            <li><a class="active second-nav" href="#" id="get-tickets" onclick="showTickets()">Get Tickets</a></li>
                            <li><a href="#" class="second-nav" id="join-discord-button" onclick="showDiscord()">Join Discord</a></li>
                            <li><a href="#" class="second-nav" id="location-button" onclick="showLocation()">Location</a></li>
                        </ul>
                    </div><br>
                    <div style="padding-left: 15%;">
                        <div id="tickets" class="toggle">
                            <button class="btn-bg transact">Buy tickets for $30</button>
                        </div>
                        <div id="discord" class="toggle">
                            <button class="btn-bg transact">Join Discord</button>
                        </div>
                        <div id="location" class="toggle">
                            <button class="btn-bg transact">Get Map</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br>

    <!-- JavaScript at the end of the body -->
    <!-- Bootstrap and jQuery scripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Your custom JavaScript -->
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/event.js"></script>
</body>

</html>